# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#resources
/resources/image/
/resources/video/

#vs project
/.vs/
/x64/
/Debug/
*/x64/
*/Debug/

!/x64/Debug/*.dll
!/x64/Release/*.dll

/library/opencv-3.2.0-vs14/