QPushButton
{
	font-family:Microsoft Yahei;
	font-size:14px;
	color:#8e8e8e;
	background-color:#f1f1f1;
	border-radius:0px;
}

QPushButton:hover
{
	background-color:#f1f1f1;
}

QPushButton:pressed
{
	background-color:#f1f1f1;
	padding-left:3px;
	padding-top:3px;
}