		QPushButton
        {
            font-family:Microsoft Yahei;
            font-size:14px;
            color:dimgray;
            background-color:#fff;
            border:1px solid #B5ADAD;
            border-radius:2px;
        }
        QPushButton:hover
        {
            background-color:#f1f1f1;
        }
        QPushButton:pressed
        {
            background-color:#f1f1f1;
            padding-left:3px;
            padding-top:3px;
        }